

<ul class="nav navbar-nav navbar-right">
    <li>
        @*@Html.ActionLink("你好，" + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        <a href="/Users/UserCenter/?userid=@Session["UserId"].ToString()" > <img src="~/Images/usersimage/06.jpg"/></a>
    </li>
    <li><a href="/users/Zhuxiao"> 注销 </a></li>
</ul>
