@model UI.Models.ActivitiesViewModel
@{
    ViewBag.Title = "大学生兼职工作发布区";
}
@section styles{
<link href="~/Content/Activities/Activities.css" rel="stylesheet" />
    }
<h2>大学生兼职工作发布区</h2>
<section>
<div id="activities-page-top">
@foreach (var item in Model.Categories)
{
    <ul>
    <li>
    <a class="button-1" href="/Activities/Index">@item.CategoryName &raquo;</a>
    </li>
    </ul>
}
</div>
    <div id="activities-page-bottom">
        @foreach (var item in Model.Activities)
        {
            <ul>
                <li>
                    <a class="button-2" href="#">@item.ActContent &raquo;</a>
                    <a class="button" href="/Home/Index"> <input type="submit" value="接取任务" style="border:0;height:54px;margin-right:15px;line-height:0;background-color:coral;"/></a>
                </li>
            </ul>
        }
    </div>
        <div id="fenye">
            <div class="pageBox">
                <ul>
                <li><a class="clickbutton"><span>1</span></a></li>
                <li><a href="/#/o2/"><span>2</span></a></li>
                <li><a href="/#/o3/"><span>3</span></a></li>
                <li><a href="/#/o4/"><span>4</span></a></li>
                <li><a href="/#/o5/"><span>5</span></a></li>
                <li><a href="/#/o6/"><span>6</span></a></li>
                <li><a href="/#/o7/"><span>7</span></a></li>
                <li><a href="/#/o8/"><span>8</span></a></li>
                <li><a href="/#/o9/"><span>9</span></a></li>
                <li><a href="/#/o10/"><span>10</span></a></li>
                <li><a href="/#/o2/" class="next"><span>下一页</span></a></li>
                </ul>
            </div>
        </div>
</section>
 


