@model UI.Models.ActivitiesViewModel
@{
    ViewBag.Title = "大学生兼职工作发布区";
}
@section styles{
<link href="~/Content/Activities/Activities.css" rel="stylesheet" />
    }
<h2>大学生兼职工作发布区</h2>
<section>
<div id="activities-page-top">
@foreach (var item in Model.Categories)
{
    <ul>
    <li>
    <a class="button-1" href="#">@item.CategoryName &raquo;</a>
    </li>
    </ul>
}
</div>
    <div id="activities-page-bottom">
        @foreach (var item in Model.Activities)
        {
            <ul>
                <li>
                    <a class="button-2" href="#">@item.ActContent &raquo;</a>
                    <input type="submit" value="接取任务" style="border:0;height:54px;margin-right:15px;line-height:0;background-color:coral;" />
                </li>
            </ul>
        }
    </div>
</section>
 


