@model UI.Models.SearchViewModel
@{
    ViewBag.Title = "学践网-搜索";
}

@section styles{
    <link href="~/Content/search/search.css" rel="stylesheet" />
}
<section>
    <!--搜索界面左边-->
    <div class="leftbox">                                               
         <div class="searching-title">
              <h2>搜索"@Session["Search"]" 的结果</h2>
         </div>                               
            <div class="searching-result">
@foreach (var item in Model.Activities)
{
    <div class="activities-content" >
        <a href="@Url.Action("#Details", "#", new {ActId = item.ActId})">
            @item.ActContent
        </a>
        @foreach (var cate in Model.Categories)
        {
            if (cate.CategoryId == item.CategoryId)
            {
                <span style="background-color:#e6e6e6;border-radius:3px;"><a style="color:black" href="#">@cate.CategoryName</a></span>
            }
        }
    </div>
}
</div>
</div>
       <!--搜索界面右边-->
    <div class="rightbox">       
            <div class="rightbox-top">
            <h3>信息筛选</h3>
            </div>
            <div style="width:100%">

                <div id="list">
                        <div class="top1">
                    <div class="n9">全部</div>               
                </div>             
                      <div style="width:250px; margin:15px auto;">
                            <div class="choosed n1">室内达人</div>
                            <div class="choosed n2">演艺技能</div>                                 
                      </div>
                    <div  style="width:250px; margin:15px auto;">
                            <div class="choosed n3">简单易做</div>
                            <div class="choosed n4">跑腿办事</div>              
                    </div>
                    <div  style="width:250px; margin:15px auto;">
                            <div class="choosed n5">优秀青年</div>
                            <div class="choosed n6">游戏代练</div>
                    </div>
                    <div  style="width:250px; margin:15px auto;">
                            <div class="choosed n7">活动策划</div>
                            <div class="choosed n8">海报设计</div>
                    </div>
                       
                </div>
            </div>
                    </div>
                                 
</section>
